In [1]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)

In [2]:
df = pd.read_excel('Responsesv3.xlsx')
# To display the top 5 rows 
df.head(5)

,Region,Area,HouseAge,Nrooms,Insulation,Nresidents,Income,AMBPS,AMBPW,AirCT,Nconditioners,Nheaters,NwashingMachines,Nrefrigerators,Lighting,NTV,Devices
0,western region,412.0,10,8,Yes,8,20000,700,700,Both,10,1,1,1,Both,2,"1, 1, 1, 1, 1"
1,southern region,350.0,30,12+,No,12,20000,1300,1000,"Window AC, Split AC",8,8,2,5,Both,4,"1, 1, 1, 1"
2,western region,1000.0,10,5,No,5,9000,500,300,Split AC,4,3,1,1,LED,2,"1, 1, 1, 1, 1, 1, 1"
3,eastern region,200.0,10,5,No,5,20000,1000,700,Split AC,9,4,1,3,LED,2,"1, 1, 1, 1, 1"
4,southern region,300.0,30+,12,No,8,9000,1300,1000,Window AC,9,8,2,3,Both,2,"1, 1, 1"

In [3]:
df.dtypes

Region               object
Area                float64
HouseAge             object
Nrooms               object
Insulation           object
Nresidents           object
Income               object
AMBPS                object
AMBPW                object
AirCT                object
Nconditioners         int64
Nheaters              int64
NwashingMachines      int64
Nrefrigerators        int64
Lighting             object
NTV                   int64
Devices              object
dtype: object

In [4]:
df.replace(to_replace =["1, 1, 1, 1, 1, 1, 1","1, 1, 1, 1, 1, 1","1, 1, 1, 1, 1","1, 1, 1, 1","1, 1, 1", "1, 1"],
                 value =[7,6,5,4,3, 2], inplace = True)

In [5]:
df.dtypes

Region               object
Area                float64
HouseAge             object
Nrooms               object
Insulation           object
Nresidents           object
Income               object
AMBPS                object
AMBPW                object
AirCT                object
Nconditioners         int64
Nheaters              int64
NwashingMachines      int64
Nrefrigerators        int64
Lighting             object
NTV                   int64
Devices               int64
dtype: object

In [6]:
df.head(25)

,Region,Area,HouseAge,Nrooms,Insulation,Nresidents,Income,AMBPS,AMBPW,AirCT,Nconditioners,Nheaters,NwashingMachines,Nrefrigerators,Lighting,NTV,Devices
0,western region,412.0,10,8,Yes,8,20000,700,700,Both,10,1,1,1,Both,2,5
1,southern region,350.0,30,12+,No,12,20000,1300,1000,"Window AC, Split AC",8,8,2,5,Both,4,4
2,western region,1000.0,10,5,No,5,9000,500,300,Split AC,4,3,1,1,LED,2,7
3,eastern region,200.0,10,5,No,5,20000,1000,700,Split AC,9,4,1,3,LED,2,5
4,southern region,300.0,30+,12,No,8,9000,1300,1000,Window AC,9,8,2,3,Both,2,3
5,southern region,300.0,20,12+,Yes,12,20000,500,500,"Window AC, Split AC",7,8,10,3,Both,2,7
6,western region,450.0,10,12+,No,12,13000,1300,500,"Window AC, Split AC",13,6,1,3,LED,1,5
7,western region,600.0,10,12,Yes,12,20000,1300,700,"Window AC, Split AC",12,6,1,3,LED,2,4
8,western region,600.0,10,12,Yes,12,20000,1300,700,"Window AC, Split AC",12,6,1,3,LED,2,4
9,eastern region,120.0,20,5,No,5,9000,500,300,Window AC,4,2,1,1,Both,1,2
10,central region,360.0,10,5,No,3,20000,500,300,Split AC,6,4,1,3,Both,2,6
11,western region,120.0,20,5,Yes,5,9000,1000,1000,Split AC,8,3,2,1,LED,2,4
12,eastern region,60.0,30+,8,Yes,5,20000,700,300,"Window AC, Split AC",6,2,2,2,Both,2,6
13,western region,660.0,20,8,Yes,8,20000,1300,500,"Window AC, Split AC",7,5,2,2,LED,2,4
14,eastern region,150.0,10,5,Yes,3,9000,300,300,"Window AC, Split AC",3,3,1,1,LED,1,3
15,western region,11.0,10,5,Yes,5,9000,1000,700,Window AC,4,2,1,2,LED,2,1
16,southern region,56600.0,10,12,Yes,8,9000,500,700,Window AC,5,5,22,2,Both,4,5
17,eastern region,190.0,10,5,Yes,3,20000,500,300,Window AC,4,3,1,1,Both,1,2
18,southern region,20000.0,10,8,Yes,5,13000,500,700,Window AC,5,4,6,2,Both,5,4
19,southern region,450.0,10,12,Yes,8,50000,700,700,Split AC,11,10,3,1,LED,1,5
20,southern region,520.0,30,8,No,5,13000,500,300,"Window AC, Split AC",8,4,3,4,Both,2,7
21,eastern region,350.0,10,12,Yes,5,13000,500,300,Split AC,6,1,2,1,LED,2,5
22,central region,120.0,10,5,Yes,3,9000,300,300,Split AC,2,3,1,1,Both,1,4
23,southern region,40.0,10,5,Yes,5,9000,500,500,Split AC,4,5,2,1,Both,2,6
24,southern region,20.0,20,5,No,3,9000,300,300,Window AC,1,3,3,1,Both,1,6

In [7]:
df.loc[(df['Area'] < 150) & (df['Nrooms'] == 3), 'Area'] = 175

In [8]:
df.loc[(df['Area'] < 150) & (df['Nrooms'] == 5 ), 'Area'] = 325

In [9]:
df.loc[(df['Area'] < 150) & (df['Nrooms'] == 8), 'Area'] = 445

In [10]:
df.loc[(df['Area'] < 150) & (df['Nrooms'] == 12), 'Area'] = 605

In [11]:
df.loc[(df['Area'] < 150) & (df['Nrooms'] == '12+'), 'Area'] = 800

In [12]:
df.loc[(df['Area'] > 1500) & (df['Nrooms'] == 3), 'Area'] = 175

In [13]:
df.loc[(df['Area'] > 1500) & (df['Nrooms'] == 5 ), 'Area'] = 325

In [14]:
df.loc[(df['Area'] > 1500) & (df['Nrooms'] == 8), 'Area'] = 445

In [15]:
df.loc[(df['Area'] > 1500) & (df['Nrooms'] == 12), 'Area'] = 605

In [16]:
df.loc[(df['Area'] > 1500) & (df['Nrooms'] == '12+'), 'Area'] = 800

In [17]:
df.head(20)

,Region,Area,HouseAge,Nrooms,Insulation,Nresidents,Income,AMBPS,AMBPW,AirCT,Nconditioners,Nheaters,NwashingMachines,Nrefrigerators,Lighting,NTV,Devices
0,western region,412.0,10,8,Yes,8,20000,700,700,Both,10,1,1,1,Both,2,5
1,southern region,350.0,30,12+,No,12,20000,1300,1000,"Window AC, Split AC",8,8,2,5,Both,4,4
2,western region,1000.0,10,5,No,5,9000,500,300,Split AC,4,3,1,1,LED,2,7
3,eastern region,200.0,10,5,No,5,20000,1000,700,Split AC,9,4,1,3,LED,2,5
4,southern region,300.0,30+,12,No,8,9000,1300,1000,Window AC,9,8,2,3,Both,2,3
5,southern region,300.0,20,12+,Yes,12,20000,500,500,"Window AC, Split AC",7,8,10,3,Both,2,7
6,western region,450.0,10,12+,No,12,13000,1300,500,"Window AC, Split AC",13,6,1,3,LED,1,5
7,western region,600.0,10,12,Yes,12,20000,1300,700,"Window AC, Split AC",12,6,1,3,LED,2,4
8,western region,600.0,10,12,Yes,12,20000,1300,700,"Window AC, Split AC",12,6,1,3,LED,2,4
9,eastern region,325.0,20,5,No,5,9000,500,300,Window AC,4,2,1,1,Both,1,2
10,central region,360.0,10,5,No,3,20000,500,300,Split AC,6,4,1,3,Both,2,6
11,western region,325.0,20,5,Yes,5,9000,1000,1000,Split AC,8,3,2,1,LED,2,4
12,eastern region,445.0,30+,8,Yes,5,20000,700,300,"Window AC, Split AC",6,2,2,2,Both,2,6
13,western region,660.0,20,8,Yes,8,20000,1300,500,"Window AC, Split AC",7,5,2,2,LED,2,4
14,eastern region,150.0,10,5,Yes,3,9000,300,300,"Window AC, Split AC",3,3,1,1,LED,1,3
15,western region,325.0,10,5,Yes,5,9000,1000,700,Window AC,4,2,1,2,LED,2,1
16,southern region,605.0,10,12,Yes,8,9000,500,700,Window AC,5,5,22,2,Both,4,5
17,eastern region,190.0,10,5,Yes,3,20000,500,300,Window AC,4,3,1,1,Both,1,2
18,southern region,445.0,10,8,Yes,5,13000,500,700,Window AC,5,4,6,2,Both,5,4
19,southern region,450.0,10,12,Yes,8,50000,700,700,Split AC,11,10,3,1,LED,1,5

In [18]:
df.dtypes

Region               object
Area                float64
HouseAge             object
Nrooms               object
Insulation           object
Nresidents           object
Income               object
AMBPS                object
AMBPW                object
AirCT                object
Nconditioners         int64
Nheaters              int64
NwashingMachines      int64
Nrefrigerators        int64
Lighting             object
NTV                   int64
Devices               int64
dtype: object

In [20]:
df = pd.read_excel('datacleaning.xlsx')
# To display the top 5 rows 
df.head(5)

,Region,Area,HouseAge,Nrooms,Insulation,Nresidents,Income,AMBPS,AMBPW,AirCT,Nconditioners,Nheaters,NwashingMachines,Nrefrigerators,Lighting,NTV,Devices,SolarRadiation
0,western region,412,10,8,Yes,8,20000,700,700,Both,10,1,1,1,Both,2,5,6445
1,southern region,350,30,13,No,12,20000,1300,1000,"Window AC, Split AC",8,8,2,5,Both,4,4,6375
2,western region,1000,10,5,No,5,9000,500,300,Split AC,4,3,1,1,LED,2,7,6445
3,eastern region,200,10,5,No,5,20000,1000,700,Split AC,9,4,1,3,LED,2,5,6175
4,southern region,300,31,12,No,8,9000,1300,1000,Window AC,9,8,2,3,Both,2,3,6375

In [ ]:
df.loc[(df['Region'] == 'western region'), 'SolarRadiation'] = 6445

In [ ]:
df.loc[(df['Region'] == 'southern region'), 'SolarRadiation'] = 6375

In [ ]:
df.loc[(df['Region'] == 'eastern region'), 'SolarRadiation'] = 6175

In [ ]:
df.loc[(df['Region'] == 'northern region'), 'SolarRadiation'] = 6483

In [ ]:
df.loc[(df['Region'] == 'central region'), 'SolarRadiation'] = 6203

In [ ]:
df.to_excel(r'C:\Users\raimn\datacleaning.xlsx', index = False)

In [ ]:
df.head(20)

In [ ]:
plt.scatter(df.Income, df.Devices)
plt.show()